.grid-container {
    margin: 2%;
}

.cell {
    float: left;
}

.weather-holder {
    color: white;
}

.bg-opac {
    width: 100%;
    background-color: black;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 1;
    height: 100%;
}

.slide {
    position: relative;
}

.slide-caption {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.slide-caption:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.sunny {
    background-color: lightskyblue;
    background-image: url(../img/sunny.jpg);
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.cloudy {
    background-color: darkblue;
    background-image: url(../img/cloudy.jpeg);
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.rainy {
    background-color: grey;
    background-image: url(../img/rainy.jpeg);
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.snowy {
    background-color: lightgrey;
    background-image: url(../img/snowy.jpeg);
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}